body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000;
    text-transform: uppercase;
}

.image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.image-item {
    width: 350px; /* Largura fixa para cada item */
    text-align: center; /* Centraliza o conteúdo */
}

.image-item img {
    width: 100%; /* Imagem ocupa 100% da largura do contêiner */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.image-item figcaption {
    margin-top: 10px; /* Espaço entre a imagem e a descrição */
    font-size: 1rem;
    color: #555;
}

footer {
    background-color: #c41e1e;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}
    .rodapersuper{
   background-color: rgb(255, 0, 0);
   height:51vh ;
}